html {
    font-family: 'Oxygen', sans-serif;
    background-color: rgba(240,240,240,1);
}
.hidden{
    display: none;
}
body {
    font-size: 1rem;
}
h1, h2 {
    text-align: center;
}
section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
section img {
    width: 200px;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    border: 2px black solid;
}
p{
    text-align: center;
    justify-content: center;
    display: flex;
    height: 20%;
    width: 50%;
    margin: 1rem auto;
    
}
button {
    display: flex;
    margin: 0 auto;

}